include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .intro-section
        section.first
          +image("content/bg1.png", "first__bg")
          
          .container.first__container
            header.first__header
              .first__logo
                .logo АС   
              .first__menu
                nav.nav
                  - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}
              .first__links
                - var icons = ['insta', 'vk', 'github']
                ul.socials
                  each item in icons
                    li.socials__item
                      a(href="").social__link
                      +icon(`${item}`, 'socials__icons')
              .first__menu-mobile#burger
                button.menu__burger(@click="showMobileMenu()")
                  span.first__menu-span
              

            .first__content
              .first__about
                h1.first__user-about 
                  span.first__site Личный сайт 
                  span.first__span веб разработчика 
                h2.first__user-name 
                  span.first__name Анна 
                  span.first__sirname Сирина
            .first__scroll
              a(href="#second").scroll__link
                .scroll-downbtn Скролл 
                +icon("scroll", 'scroll__icon')
        +image("content/2bg2.png", "aboutme__bg")
        
        section.aboutme#second  
          .container.aboutme__container
            .aboutme__left
              .user
                .avatar.user__avatar
                  +image("content/user.jpg", "avatar__pic")
                ul.user__desc
                  - 
                    var items = [
                      ['Проживаю:', 'Санкт-Петербург'],
                      ['Возраст', '29 лет'],
                      ['Родилась', '13 ноября 1989']
                    ]
                  each item in items
                    li.user__desc-item
                      .user__topic #{item[0]}
                      .user__value #{item[1]}

            .aboutme__right
              h4.aboutme__title Привет, меня зовут
              h2.aboutme__name Анна Сирина
              .aboutme__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              .aboutme__ps Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

      section.profite
        +image("content/hands.png", "profite__pic")
        .container.profite__container
          .profite__title
            h2.section-title.profite__section-title Чем я могу быть Вам полезна
            .profite__desc 
              p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво! 
          #skills-component
                        
      section.works 
        .container.works__container
          .section-title.works__section-title Мои работы
            .works__content
              #slider-component
        
      
      
      section.rewier-form                          
        .rewier
          .container.rewier__container
            #review__slider
        .contact
          .container.contact__container
            h2.section-title.contact--section-title Связаться со мной
            form.contact__form   
              .contact__row1 
                .contact__input-border.contact__input-border-input1
                  label(for='name').contact__label Введите Ваше имя
                  input#name.contact__input(placeholder='Ковальчук Дмитрий')
                  +icon("user", 'contact__icon') 
                .contact__input-border
                  label(for='mail').contact__label Введите Ваш email
                  input#mail.contact__input(placeholder='loftschool@study.com')
                  +icon("envelope", 'contact__icon') 
              .contact__row2
                .contact__input-border-text
                  .contact__block-text
                    label(for='text').contact__label Сообщение к письму
                    textarea#text.contact__textarea(placeholder='Требуется ваша помощь в сосзаднии сайта. Интересуют сроки и цена.')
                    +icon("message", 'contact__icon-text') 
            .contact__btn
              button.contact__button Отправить

      footer.footer
        .container.footer__container
          .footer__column1
            .footer__year 2019
            .footer__text
              h3.section-title.footer__section-title Анна Сирина
              .footer__about Личный сайт веб разработчика

          .footer__column2
            .footer__menu
                div.nav
                  - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
                  ul.nav__list.footer__nav-list
                    each item in menu
                      li.nav__item.footer__nav-item
                        a(href="").nav__link #{item}
            .footer__desc 
              .footer__desc-col1
                .footer__text 
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool.
                .footer__links
                  - var icons = ['insta', 'vk', 'github']
                  ul.footer__socials
                    each item in icons
                      li.socials__item.footer__social__item
                        a(href="").social__link.footer__social__link
                        +icon(`${item}`, 'socials__icons')
              .footer__desc-col2
                .footer__text 
                  p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете.
                  .footer__auther Martin Golding
    .popup
      .close#close 
        button.close(@click="closeWindow()") x
      nav.nav
        - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
        ul.nav__list.nav__list-popup
          each item in menu
            li.nav__item.nav__item-popup
              a(href="").nav__link.nav__link-popup #{item}
      .block__links
        - var icons = ['insta', 'vk', 'github']
        ul.socials.socials-popup
          each item in icons
            li.socials__item.socials__items-popup
            a(href="").social__link
              +icon(`${item}`, 'socials__icons')


    include ./templates/entry.pug