include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .intro-section
        section.first
          .container.first__container
            header.first__header
              .first__logo
                .logo АС   
              .first__menu
                nav.nav
                  - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}
              .first__links
                - var icons = ['insta', 'vk', 'github']
                ul.socials
                  each item in icons
                    li.socials__item
                      a(href="").social__link
                      +icon(`${item}`, 'socials__icons')
            .first__content
              .user
                h1.user__desc Личный сайт веб разработчика 
                .user__name Анна Сирина
            .first__scroll
              .scroll-downbtn Скролл 
        
        section.aboutme
          .container.aboutme__container
            .aboutme__left
              .user
                .avatar.user__avatar
                  +image("content/user.jpg", "avatar__pic")
                ul.user__desc
                  - 
                    var items = [
                      ['Проживаю:', 'Санкт-Петербург'],
                      ['Возраст', '29 лет'],
                      ['Родилась', '13 ноября 1989']
                    ]
                  each item in items
                    li.user__desc-item
                      .user__topic #{item[0]}
                      .user__value #{item[1]}

            .aboutme__right
              h4.aboutme__title Привет, меня зовут
              h2.aboutme__name Анна Сирина
              .aboutme__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit maiores nulla, mollitia debitis aperiam officiis eaque consequatur velit ea nostrum reprehenderit, ipsum dolorum vero amet repellendus iure! Quis, quaerat dolore?
              .aboutme__ps Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet incidunt, consequuntur mollitia a obcaecati ratione optio. Non sit sunt sequi nam dicta, sapiente vitae obcaecati hic amet pariatur aliquid voluptatem?

      section.profite
        .container 
          .profite__title
            h2.section-title Чем я могу быть Вам полезен
            .profite__desc 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro incidunt at sunt similique totam. Ipsam minus quis quisquam ipsa, doloribus inventore laboriosam labore voluptate optio itaque odio rerum quod perspiciatis. 
        ul.skills 
          -
            var skills = [
              ['Front-end', ['HTML5', 'CSS', 'JavaScript','Jquery и Vue.js']],
              ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']]
            ] 
          each item in skills
            li.skills__item.skills-row
              h3.skills-row__title #{item[0]}
              ul.skills-row__list
                each skill in item[1]
                  li.skill-row__item
                    .skill-value
                      svg(vieBox="0 0 200 200" preserveAspectRatio="none").skill__round
                        circle(r="80", cx="100", cy="100").skill__circle--position-uppon
                        circle(r="80", cx="100", cy="100").skill__circle--position-under
                        linear-gradient()
                      .skill__title #{skill}

      section.works 
        h2.section-title Мои работы
        .works__left 
          .slider
            img().slider__background
            .slider__preview
              ul.previews
                - for (var i=0; i<3; i++)
                  li.previes__item
                    img.previes__img
            .slider__buttons
              .slider-btn
                button.slider-btn__item.slider-btn__item--next
                button.slider-btn__item.slider-btn__item--prev
        .works__right
          .works__tags
            - var tags = ['html', 'css', 'javascript']
            each tag in tags
                ul.tags 
                  li.tags__item #{tag}
            .works__desc
              h3.works__title Сайт школы образования
              .works__text 
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam explicabo perspiciatis ipsa rem vero, recusandae ut cum obcaecati sint quas excepturi dolores nesciunt possimus tempore quo soluta autem! Cupiditate, tempora?
              a.icone-link
                .icone-link__icon
                .icone-link__text

      section.rewier
        .container
          h2.section-title.rewier--section-title Что обо мне говорят
          .rewier__btns
            button.rewier__next
            button.rewier__next
          .rewier__text
            .rewier__desc
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, asperiores? Vitae delectus, mollitia temporibus ut repellat architecto. Nostrum dignissimos a temporibus necessitatibus, ea doloremque, dolore sit doloribus nam ipsam obcaecati.
            .rewier__speaker
              .rewier__speaker-about
                .rewier__avatar
                  
                    ul.rewier__description
                      - 
                        var items = [
                          ['Ковальчук Дмитрий', 'Основатель Loftschool'],
                          ['Владимир Сабанцев', 'Преподаватель']
                        ]
                      each item in items
                        li.rewier__desc-item
                          .rewier__name #{item[0]}
                          .rewier__who #{item[1]}

      section.contact
        .container
          h2.section-title.contact--section-title Связаться со мной
          form.contact__form   
            .contact__row1 
              .contact__input-border
                input.contact__input 
              .contact__input-border
                input.contact__input 
            .contact__row2
              .contact__input-border
                textarea.contact__textarea
          .contact__btn
            button.contact__button

      footer.footer
        .container
          .footer__column1
            .footer__year 2019
            h3.section-title Анна Сирина
            .footer__about Личный сайт веб разработчика

          .footer__column2
            .first__menu
                nav.nav
                  - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}
            .footer__desc 
              .footer__desc-col1
                .footer__text 
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores ullam nisi quisquam exercitationem! Libero at, cupiditate id molestiae et doloribus suscipit optio nostrum distinctio, neque magnam consectetur tempora adipisci? Maiores.
                .first__links
                  - var icons = ['insta', 'vk', 'github']
                  ul.socials
                    each item in icons
                      li.socials__item
                        a(href="").social__link
                        +icon(`${item}`, 'socials__icons')
                .footer__desc-col2
                  .footer__text 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia eaque optio esse velit voluptates voluptate quisquam maxime praesentium. Veritatis facere sapiente dolorum accusamus quo provident minus nemo, quia perferendis deleniti.
                  .footer__auther Martin Golding
