include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .intro-section
        section.first
          .container.first__container
            header.first__header
              .first__logo
                .logo АС   
              .first__menu
                nav.nav
                  - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}
              .first__links
                - var icons = ['insta', 'vk', 'github']
                ul.socials
                  each item in icons
                    li.socials__item
                      a(href="").social__link
                      +icon(`${item}`, 'socials__icons')
            .first__content
              .first__about
                h1.first__user-about Личный сайт веб разработчика 
                h2.first__user-name Анна Сирина
            .first__scroll
              a.scroll__link
                .scroll-downbtn Скролл 
                +icon("scroll", 'scroll__icon')
        
        section.aboutme
          .container.aboutme__container
            .aboutme__left
              .user
                .avatar.user__avatar
                  +image("content/user.jpg", "avatar__pic")
                ul.user__desc
                  - 
                    var items = [
                      ['Проживаю:', 'Санкт-Петербург'],
                      ['Возраст', '29 лет'],
                      ['Родилась', '13 ноября 1989']
                    ]
                  each item in items
                    li.user__desc-item
                      .user__topic #{item[0]}
                      .user__value #{item[1]}

            .aboutme__right
              h4.aboutme__title Привет, меня зовут
              h2.aboutme__name Анна Сирина
              .aboutme__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              .aboutme__ps Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

      section.profite
        +image("content/hands.png", "profite__pic")
        .container.profite__container
          .profite__title
            h2.section-title.profite__section-title Чем я могу быть Вам полезен
            .profite__desc 
              p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво! 
          ul.skills 
            -
              var skills = [
                ['Front-end', ['HTML5', 'CSS', 'JavaScript','Jquery и Vue.js']],
                ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']]
              ] 
            each item in skills
              li.skills__item.skills-row
                h3.skills-row__title #{item[0]}
                ul.skills-row__list
                  each skill in item[1]
                    li.skills-row__item
                      .skills-value
                        svg(vieBox="0 0 140 140" preserveAspectRatio="none").skill__round
                          circle(r="35", cx="70", cy="70").skill__circle--position-uppon
                          circle(r="35", cx="70", cy="70").skill__circle--position-under
                          linear-gradient()
                        
      section.works 
        .container.works__container
          h2.section-title.works__section-title Мои работы
          .works__slider
            .works__left 
              .slider
                +image("content/slider.png", "slider__pic")
                .slider__preview
                  ul.previews
                    - for (var i=0; i<3; i++)
                      li.previes__item
                        img.previes__img
                .slider__buttons
                  .slider-btn
                    button.slider-btn__item.slider-btn__item--next
                    button.slider-btn__item.slider-btn__item--prev
            .works__right
              .works__tags
                ul.tags  
                  - var tags = ['HTML', 'CSS', 'JavaScript']  
                  each tag in tags          
                    li.tags__item #{tag}
                .works__desc
                  h3.works__title Сайт школы образования
                  .works__text 
                    p Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                  a.icone-link
                    .icone-link__icon
                    +icon("link", 'icon-link__icon')
                    a(href="http://loftschool.ru").icone-link__text Посмотреть сайт

      section.rewier
        .container
          h2.section-title.rewier--section-title Что обо мне говорят
          .rewier__btns
            button.rewier__next
            button.rewier__next
          .rewier__text
            .rewier__desc
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, asperiores? Vitae delectus, mollitia temporibus ut repellat architecto. Nostrum dignissimos a temporibus necessitatibus, ea doloremque, dolore sit doloribus nam ipsam obcaecati.
            .rewier__speaker
              .rewier__speaker-about
                .rewier__avatar
                  
                    ul.rewier__description
                      - 
                        var items = [
                          ['Ковальчук Дмитрий', 'Основатель Loftschool'],
                          ['Владимир Сабанцев', 'Преподаватель']
                        ]
                      each item in items
                        li.rewier__desc-item
                          .rewier__name #{item[0]}
                          .rewier__who #{item[1]}

      section.contact
        .container
          h2.section-title.contact--section-title Связаться со мной
          form.contact__form   
            .contact__row1 
              .contact__input-border
                input.contact__input 
              .contact__input-border
                input.contact__input 
            .contact__row2
              .contact__input-border
                textarea.contact__textarea
          .contact__btn
            button.contact__button

      footer.footer
        .container
          .footer__column1
            .footer__year 2019
            h3.section-title Анна Сирина
            .footer__about Личный сайт веб разработчика

          .footer__column2
            .first__menu
                nav.nav
                  - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}
            .footer__desc 
              .footer__desc-col1
                .footer__text 
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores ullam nisi quisquam exercitationem! Libero at, cupiditate id molestiae et doloribus suscipit optio nostrum distinctio, neque magnam consectetur tempora adipisci? Maiores.
                .first__links
                  - var icons = ['insta', 'vk', 'github']
                  ul.socials
                    each item in icons
                      li.socials__item
                        a(href="").social__link
                        +icon(`${item}`, 'socials__icons')
                .footer__desc-col2
                  .footer__text 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia eaque optio esse velit voluptates voluptate quisquam maxime praesentium. Veritatis facere sapiente dolorum accusamus quo provident minus nemo, quia perferendis deleniti.
                  .footer__auther Martin Golding
